Autologging==1.2.1
dicttoxml==1.7.4
Flask==1.0.2
Flask_Classful==0.14.1
inflection==0.3.1
MarkupSafe==1.0
neomodel==3.3.0
pytest==3.8.2
pytest-flask==0.13.0
requests==2.19.1
setuptools==40.4.3
Unidecode==1.0.22
webargs==4.1.1
Werkzeug==0.14.1
PyYAML==4.2b4
