Autologging==1.2.1
dicttoxml==1.7.4
Flask==1.0.2
Flask_Classful==0.14.1
inflection==0.3.1
MarkupSafe==1.0
neomodel==3.2.9
pytest==3.9.3
pytest-flask==0.14.0
requests==2.20.0
setuptools==40.5.0
Unidecode==1.0.22
webargs==4.1.1
Werkzeug==0.14.1
PyYAML==4.2b4
